[submodule "boringssl"]
	path = quiche/deps/boringssl
	url = https://github.com/google/boringssl.git
	ignore = dirty
[submodule "moeprlnc"]
	path = moeprlnc
	url = git@gitlab.lrz.de:ga25day/improving-http3/moeprlnc.git
